* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;
}

.navBar h3 {
    
}

.navBar select {
    border-radius: 10px;
    padding: 10px;
    background-position: right 100px center;
}

.chart {
    margin: 20px;
}

.preferences {
    margin: 20px;
    padding: 20px;
    background: lightsteelblue;
    border-radius: 20px;
}

.preferences > input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: calc(100% - 20px);
    margin-top: 5px;
}

.preferences > input:focus {
    outline: 2px solid coral;
}

.generate-chart {
    text-align: right;
    margin: 30px 0px 0px 0px;
}

.generate-chart button {
    padding: 15px 20px;
    border: none; 
    border-radius: 25px;
}

@media screen and (min-width: 1024px) {
        body {
            display: grid;
            grid-template-columns: 60% 40%;
        }
    }